
/* Footer */
footer {
    background-color: #f9f9f9;
    color: #666;
    font-size: 0.9rem;
  }
  
  footer a {
    color: #666;
  }
  
  footer a:hover {
    color: #007bff;
  }
  
  footer h5 {
    font-weight: bold;
    color: #222;
    margin-bottom: 1.5rem;
  }
  
  footer ul li {
    margin-bottom: 0.5rem;
  }
  
  footer hr {
    border-color: #ccc;
  }
  
  .social-icons {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .social-icons li {
    margin-right: 1rem;
  }
  
  .payment-icons {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .payment-icons li {
    margin-right: 1rem;
  }